/* === BODY ===*/
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  background-color: #f4f6f8;
}

/* === DIV FOR BUTTON ===*/
.main-div-button{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

/* === DIV FOR SIGNLE BUTTON BOTH LEFT AND RIGHT ===*/
/* === #1 ===*/
.div-button-1{
  display: flex;
  width: 50%;
  justify-content: center;
}

/* === #2 ===*/
.div-button-2{
  display: flex;
  width: 50%;
  justify-content: center;
}

/* === BUTTON JAD ===*/
.button-name-1{
  border-radius: 0;
  padding: 10px 60px;
  transition: 0.5s;
}

/* === BUTTON JAD HOVER ===*/
.button-name-1:hover{
  padding: 10px 70px;
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
  transition: 0.5s;
}

/* === BUTTON JAD ACTIVE ===*/
.button-name-1:active{
  padding: 10px 40px;
  box-shadow: none;
  transition: 0.1s;
}

/* === BUTTON LEA ===*/
.button-name-2{
  border-radius: 0;
  padding: 10px 60px;
  transition: 0.5s;
}

/* === BUTTON LEA HOVER ===*/
.button-name-2:hover{
  padding: 10px 70px;
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
  transition: 0.5s;
}

/* === BUTTON LEA ACTIVE ===*/
.button-name-2:active{
  padding: 10px 40px;
  box-shadow: none;
  transition: 0.1s;
}

/* === DIV FOR TABLE ===*/
#main-div-info{
  margin-top: 20px;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}

/* === SCHEDULE TABLE ===*/
table{
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

/* ===  ALL ODD TABLE ROW ===*/
tr:nth-child(even) {
  background-color: #f9fafb;
}

/* === ALL TABLE ROW HOVER ===*/
tr:hover{
  background-color: #eef2ff;
}

/* === FIRST 6 TABLE HEADER ===*/
th:nth-child(-n+6){
  background-color: rgb(79, 70, 229);
  color: white;
  padding: 16px;
}

/* === ALL TABLE DATA ===*/
td{
  padding: 10px;
  text-align: center;
  word-break: break-all;
}

/* === TABLE DATA THAT HAS "WEB PROG FOR BUS." ===*/
.ziad{
  color: red;
}